---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>

{# style="background-image: url('https://lirp.cdn-website.com/b0b87eb0/dms3rep/multi/opt/kirche_sustrum-moor_gemeinde_001-af1a3301-1920w.jpg');" #}

  {% include 'svg/divider-pixels.svg' %}
  {# {% include 'SuMoKirche.png' %} #}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>
